/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ca8b50;
    position: sticky; /*keep nav bar sticking to top*/
    top: 0;
}

/* title seperate from nav links */
nav .title {
    font-size: 20px;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

nav ul{
    display: flex;

}


nav ul li {
    list-style: none;

}

/* link btn color */
nav ul li a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

/* apply color to selected page */
.active{
    background-color: #b16e30;
}

/* only apply hover color if not selected */
nav ul li a:not(.active):hover {
    background-color: #d7965a;
}


nav .menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1000;
  }
  
  /* styling for the hamburger icon */
  nav .menu span {
    height: 0.3rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    transition: all 0.3s ease;
  }
  
  /* show the hamburger menu on tablet*/
  @media (max-width: 1024px) {
    nav .menu {
      display: flex;  /* show hamburger for medium screens */
    }
  
    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 2rem; 
    }
  
    nav ul.open {
      display: flex;
    }
  
    nav ul li {
      width: 100%;
      text-align: center;
      padding: 0.5rem 0;
    }
  
    nav ul li a {
      padding: 0.5rem;
      margin: 0.2rem;
    }
  }
  
  
